{% load static %}
<!DOCTYPE html>
<html lang="zxx">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Interior & Furniture Multipurpose Html Template">
<meta name="keywords" content="Interior & Furniture Multipurpose Html Template">
<meta name="author" content="">
<title>interior &amp; furniture</title>
<link rel="icon" href="{% static 'img/imgfavicon.html' %}" type="image/x-icon" />
<!--css-->
<link href="{% static 'css/all-css.css' %}" rel="stylesheet" type="text/css">
<!--css-->
</head>
<body id="page-top">
<!--navbar-->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="{% url 'pages:home' %}"><img src="{% static 'img/logo.png' %}" alt="" title=""></a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <a class="page-scroll" href="{% url 'pages:home' %}#about">ABOUT US</a></li>
        <li><a class="page-scroll" href="{% url 'pages:home' %}#Projects">Projects</a></li>
        <li> <a class="page-scroll" href="{% url 'pages:home' %}#services">Services</a></li>
        <li><a class="page-scroll" href="{% url 'pages:home' %}#blog" >BLOG</a></li>
        <li><a class="page-scroll" style="background:none" href="{% url 'pages:contact' %}#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<section id="blog-in" >
  <div class="container about-css">
    <div class="row">
      <!--blog-left-side-->
        <div class="col-md-7 col-sm-7 blog-left Left">
          {% for blog in blogs %}
            <div class="blog-left-grid">
          <h3><a href="{{ blog.photo.url }}">{{ blog.title }}</a></h3>
          <h4>Published On <span>{{ blog.created_at }}</span></h4>
          <div class="img-div text-center"><a href="{{ blog.photo.url }}"><img class="img-responsive" alt="img" title="img" src="{{ blog.photo.url }}"></a></div>
          <p>{{ blog.description }}</p>
        </div>
          {% endfor %}
      <!--blog-left-side-->
      <!--blog-right-side-->
      <div class="col-md-5 col-sm-5 blog-right">
        <h4 class="blog-t">Recent posts</h4>
        <div class="recent-posts">
          {% for blogs in blog %}
            <div class="recent-posts-info">
            <div class="posts-left sngl-img"> <a href="{{ blogs.photo.url }}"> <img class="img-responsive" alt="img" title="img" src="{{ blogs.photo.url }}"> </a> </div>
            <div class="posts-right">
              <div class="publice-date"><span>Published</span> {{ blogs.created_at }}</div>
              <p>{{ blogs.description }}</p>
              <a class="" href="{% url 'pages:blog'%}">Read More</a> </div>
            <div class="clearfix"></div>
          </div>
          {% endfor %}
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"> </div>
        <br>
      </div>
      <!--blog-right-side-->
    </div>

    <div class="clearfix"> </div>
    <br>
  </div>
  <div class="clearfix"></div>
</section>
<div class="footer">
  <div class="container">
    <div class="col-md-6 col-sm-6 footer-c"> <a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </div>
    <div class="col-md-6  col-sm-6 footer-c text-right">
      <div class="social-icons"> <a href="#"><i class="fa fa-facebook fa-lg"></i></a> <a href="#"><i class="fa fa-twitter fa-lg"></i></a> 
	  <a href="#"><i class="fa fa-rss fa-lg"></i></a> <a href="#"><i class="fa fa-google-plus fa-lg"></i></a> 
	  <a href="#"><i class="fa fa-skype fa-lg"></i></a> <a href="#"><i class="fa fa-dribbble fa-lg"></i></a> </div>
    </div>
  </div>
</div>
<script  src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--magnific-popup-->
<script src="{% static 'js/creative.min.js' %}"></script>
<!-- jQuery -->
</body>


</html>
