{% extends 'layouts/base.html' %}
{% block content %}
<div class="contact-form" >
          <div class="row">
            <div class="col-sm-6 wow fadeIn">
              <form id="main-contact-form" name="contact-form" method="post" action="{% url 'pages:contact' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input name="name" class="form-control" placeholder="Name"  type="text">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input name="email" class="form-control" placeholder="Email Address" type="email">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input name="subject" class="form-control" placeholder="Subject" required  type="text">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required></textarea>
                </div>
                <div>
                  <button type="submit" class="submit-bt2">Send Now </button>
                </div>
              </form>
            </div>
            <div class="col-sm-6 wow fadeIn">
              <div class="contact-info">
                <p>C-11 Legacy Ariston Apartment, Mahalaxmi Layout, Ananthapura, Yelahanka, Bangalore- 560064

                  Mobile: 08497-038877</p>
                <br>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i><span>Address : </span> 2400 South Avenue A</li>
                  <li><i class="fa fa-phone"></i><span>Phone :</span> +928 336 2000</li>
                  <li><i class="fa fa-envelope"></i><span>Email : </span><a href="mailto:contact@StudioUX.com"> &nbsp;contact@StudioUX.com</a></li>
                  <li><i class="fa fa-globe"></i><span>Website : </span><a href="#">interior &amp; furniture</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}