{% load static %}
<!DOCTYPE html>
<html lang="zxx">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Interior & Furniture Multipurpose Html Template">
<meta name="keywords" content="Interior & Furniture Multipurpose Html Template">
<meta name="author" content="">
<title>interior &amp; furniture</title>
<link rel="icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon" />
<!--css-->
<link href="{% static 'css/all-css.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/set1.css' %}" rel="stylesheet" type="text/css">
<!--css-->
</head>
<body id="page-top">
<div id="preloader"></div>
<!--navbar-->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><img src="{% static 'img/logo.png' %}" alt="logo" title="" /></a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <a class="page-scroll" href="#about">ABOUT US</a></li>
        <li><a class="page-scroll" href="#Projects">Projects</a></li>
        <li> <a class="page-scroll" href="#services">Services</a></li>
        <li><a class="page-scroll" href="#blog" >BLOG</a></li>
        <li><a class="page-scroll" style="background:none" href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Languages
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/uz">Uzbek</a></li>
    <li><a class="dropdown-item" href="/en">English</a></li>
    <li><a class="dropdown-item" href="/ru">Russian</a></li>
  </ul>
</div>
  </div>
</nav>
<!--navbar-->
<!--SLIDER-->
<header id="myCarousel" class="carousel slide ">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading" class="wow slideInDown"> Interior <span>Design</span> </h1>
      <br>
      <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">Lorem ipsum dolor sit amet, nam te agam soleat cetero, his ad exerci quodsi sententiae putent bonorum ne.
        Lorem ipsum dolor sit amet, nam te agam soleat cetero, his ad exerci quodsi sententiae putent bonorum ne. </p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.5s">Find Out More</a> </div>
  </div>
  <div class="carousel-inner carousel-fade">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('assets/img/interior-design.jpg');"></div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('assets/img/interior-design-2.jpg');"></div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('assets/img/interior-design-3.jpg');"></div>
    </div>
  </div>
  <!-- Controls -->
<!--SLIDER-->
<!-- Modal -->
{% for about in abouts %}
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ about.title }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7 col-sm-7 text-center"><img src="{{ about.photo.url }}" alt="" title="" class="img-responsive"></div>
          <div class="col-md-5 col-sm-5">
            <p>{{ about.description }}</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<main>
  <!--about-us-->
  <section class="what-we" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" >
          <h2 class="wow fadeInDown"> What We Do</h2>
        </div>
        {% for about in abouts %}
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInLeft"  data-wow-delay=".5s">
          <div class="our-blog-item">
            <div class="blog-thumb"> <img src="{{ about.photo.url }}"  alt="{}" title="" class="img-responsive" /> </div>
            <h6>{{ about.title }}</h6>
            <div class="our-blog-ds">
              <div class="our-blog-bk">
                <div class="entry-ourblog">
                  <h6>{{ about.title }}</h6>
                  <p>{{ about.description }}</p>
                  <a  data-toggle="modal" data-target="#myModal"></a> </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--about-us-->
  <!--Projects-->
  <section class="no-padding" id="Projects">
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        {% for image in images %}
          <div class="col-lg-4 col-sm-6 wow fadeIn" >
          <div class="grid">
            <figure class="effect-ruby"> <img src="{{ image.photo.url }}" alt="" title="" />
              <figcaption>
                <h2>{{ image.title }}</h2>
                <p>{{ image.description }}</p>
                <a data-toggle="modal" data-target="#myModal4"> View more </a> </figcaption>
            </figure>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--Projects-->
  <!--services-->
  <section id="services">
    <div class="container">
      <div class="heading ">
        <div class="row">
          <div class="text-center col-sm-10 services1 col-center">
            <h3 class="wow fadeInDown">Services</h3>
            <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div>
      </div>
      <div class="text-center our-services">
        <div class="row">
          {% for service in services %}
            <div class="col-sm-4 wow fadeIn">
            <div class="service-info">
              <div class="grid">
                <figure class="effect-milo"> <img src="{{ service.photo.url }}" class="img-responsive" alt="" title="" />
                  <figcaption>
                    <h2>{{ service.title }}</h2>
                    <p>{{ service.description }}</p>
                    <a data-toggle="modal" data-target="#myModal5">View more</a> </figcaption>
                </figure>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!--services-->
  <!--blog-->
  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-10 col-center">
          <h2 class="wow fadeInDown"> Blog Posts </h2>
          <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
      <div class="blog-posts">
        <div class="row">
          {% for blog in blogs %}
            <div class="col-sm-4 wow fadeIn">
            <div class="post-thumb"><a href="blog-in.html"><img class="img-responsive" src="{{ blog.photo.url }}" alt="" title="" /></a>
              <div class="post-meta"><span><i class="fa fa-comments-o"></i>{{ blog.comments }} Comments</span><span><i class="fa fa-heart"></i>{{ blog.likes }} Likes</span></div>
              <div class="post-icon"><i class="fa fa-pencil"></i></div>
            </div>
            <div class="entry-header">
              <h3><a href="#">{{ blog.title }}</a></h3>
              <span class="date">{{ blog.created_at }}</span><span class="cetagory"></span></div>
            <div class="entry-content">
              <p>{{ blog.description }}</p>
              <p><a href="{% url 'pages:blog' %}" class="btn btn2 hvr-sweep-to-right">Read more<span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <!--blog-->
  <!--contact-->
  <section id="contact" class="contact-us">
    <div class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-10 col-center">
            <h2 class="wow fadeInDown"> Contact Us</h2>
            <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        <div class="contact-form" >
          <div class="row">
            <div class="col-sm-6 wow fadeIn">
              <form id="main-contact-form" name="contact-form" method="post" action="{% url 'pages:contact' %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input name="name" class="form-control" placeholder="Name"  type="text">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input name="email" class="form-control" placeholder="Email Address" type="email">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input name="subject" class="form-control" placeholder="Subject" required  type="text">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required></textarea>
                </div>
                <div>
                  <button type="submit" class="submit-bt2">Send Now </button>
                </div>
              </form>
            </div>
            <div class="col-sm-6 wow fadeIn">
              <div class="contact-info">
                <p>C-11 Legacy Ariston Apartment, Mahalaxmi Layout, Ananthapura, Yelahanka, Bangalore- 560064

                  Mobile: 08497-038877</p>
                <br>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i><span>Address : </span> 2400 South Avenue A</li>
                  <li><i class="fa fa-phone"></i><span>Phone :</span> +928 336 2000</li>
                  <li><i class="fa fa-envelope"></i><span>Email : </span><a href="mailto:contact@StudioUX.com"> &nbsp;contact@StudioUX.com</a></li>
                  <li><i class="fa fa-globe"></i><span>Website : </span><a href="#">interior &amp; furniture</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--contact-->
</main>
<!--main-->
<footer>
  <!--footer-div-->
  <!--footer-div-->
</footer>
<!-- jQuery -->
<script  src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script  src="{% static 'js/scrolltopcontrol.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/creative.min.js' %}"></script>
<!-- jQuery -->
</body>


</html>
